.photo {
    display: flex;
    width: 850px;
    height: 700px;
    box-shadow:  0 -20px 20px -20px $color-primary-dark, 0 20px 20px -20px $color-primary-dark, 20px 0 20px -20px $color-primary-dark, -20px 0 20px -20px $color-primary-dark;

   /* border: 1px solid black;
    
  background-color: green; */



    &__wrapper {
        width: 200px;
        position: relative;
    }

    &__wrapper-img {
        @include absCenter;
   }

    &__main {
        width: 700px;
        position: relative;
        padding: 10px;
        box-shadow:   20px 0 20px -20px $color-primary-dark;

        
        &-img {
           height: 680px;
            width: auto;
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        @include absCenter;
        height: 450px;
        overflow: hidden;
        margin: auto 0;
    }

    &__slider-item {
        width: auto;
        height: 150px;
    }

    &__img {
        width: auto;
        height: 150px;
    }

    &__arrow {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        border-top: 4px solid $color-primary;
        border-right: 4px solid $color-primary;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__arrow--top {
        transform: translate(-50%, -50%) rotate(-45deg);    
        top: 30px;
    }

    &__arrow--bottom {
        transform: translate(-50%, -50%) rotate(135deg);
        bottom: 30px;
    }
}