.main-product {
    background-color: #fff;
    margin-top: 150px;

    &__wrapper {
        max-width: 1960px;
        display: flex;
        justify-content: space-around;

        margin: 0 auto;
        margin-top: 40px;
    }
}

